@import "node_modules/ol/ol.css";

html, body {
  margin: 0;
  height: 100%;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

/* CSS Filters - see https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Values/filter-function */
.css-filter-grayscale {
  filter: grayscale(100%);
}
.css-filter-sepia {
  filter: sepia(100%);  
}
